body {
  margin: 0px;
  background-color: #161616;
  color: #ddd;
  background-image: url(./assets/img/bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: #eef;
  text-align: center;
}
.wrapper {
  margin-top: 270px;
}
